// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: Georgia;
$h-font-stack: Helvetica;

// Font sizes
$base-font-size: 16px;

/// Copy text color
/// @type Color
$text-color: #000 !default;

/// Main brand color
/// @type Color
$brand-color: #DD3E18 !default;

/// Light text
/// @type Color
$light-text-color: #FFF !default;


$header-color: #082841 !default;